body{
   font-family: Arial, Helvetica, sans-serif;
 }

 .header_content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 30px;
 }
 
 .header_content_logo {
   order: 1;
 }
 .header_content_logo_hello{
   border-top: 2px solid;
   border-bottom: 2px solid;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .header_content_logo_description{
   margin-top: 15px;
 }
 
 .header_content_nav {
   font-size: 13px;
   order: 2;
 }
 .header_content_nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 .header_content_nav ul li {
   display: inline-block;
   margin-right: 15px;
 }
 
 .header_content_nav ul li:first-child {
   margin-left: 0;
 }
 
 .header_content_nav ul li a {
   text-decoration: none;
   color: #000;
 }

 .header_content_nav ul li a:hover {
   color: #5d5d5d;
 }

 .main_news {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
 }
 .main_news_intro-text{
   width: 65%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   letter-spacing: 3px;
   line-height: 64px;
 }
 .main_news_intro-time{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 35px;
   font-size: 13px;
   color: #949494;
}
.main_news_intro-img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.main_news_intro-img img{
   width: 60%;
   height: auto;
}

.main_news_intro-descrip{
   text-align: center;
   margin-top: 5px;
   font-style: italic;
   font-weight: lighter;
}
.main_news_text{
   margin-top: 45px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 19px;
  line-height: 24px;
}

.main_news_text > * {
   display: inline-block;
   margin: 0;
   padding: 0;
 }

.main_news_border{
   margin-top: 15px ;
   display: flex;
   align-items: center;
   border-bottom: 1px solid;
   color: #b6b6b6;
}

.main_news_author{
   margin-top: 40px;
   font-weight: bold;
   font-size: 19px;
}
 .footer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   margin-top: 150px;
   background-color: #f0f0f0;
 }
 
 .footer_namePage{
 font-size: 24px;
 font-weight: bold;
 margin-bottom: 20px;
 padding-top: 15px;
 }
 .footer_SoulProtection{
   font-size: 18px;
 }